{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "extends": [
        "prettier"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "max-len": [
            "error",
            {
                "code": 100
            }
        ],
        "class-methods-use-this": [
            "off"
        ],
        "jsx-a11y/click-events-have-key-events": [
            0
        ],
        "react/jsx-props-no-spreading": [
            "off"
        ],
        "prefer-promise-reject-errors": [
            "off"
        ],
        "react/jsx-filename-extension": [
            "off"
        ],
        "react/prop-types": [
            "warn"
        ],
        "no-return-assign": [
            "off"
        ],
        "import/prefer-default-export": [
            "off"
        ],
        "react/forbid-prop-types": [
            "off"
        ],
        "no-param-reassign": [
            "off"
        ],
        "no-new": [
            "off"
        ]
    }
}